@model IEnumerable<MvcFeedback.Models.Feedback>

@{
    ViewBag.Title = "Feedback";
}

<h2>Feedback</h2>

<p>
    @if (Request.IsAuthenticated)
    {
        @Html.ActionLink("Add Feedback", "Create")
    }

    @using (Html.BeginForm())
    {
        <p>
            Client: @Html.TextBox("client") Comment: @Html.TextBox("comment") <input type="submit" value="Filter" />
        </p>
    }    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>

        @if (User.IsInRole("admin"))
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        }
    </tr>
}

</table>
